@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AlumniSansPinstripe';
    src: url('../fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf');
}
@font-face {
    font-family: 'RubrikGlitch';
    src: url('../fonts/Rubik_Glitch/RubikGlitch-Regular.ttf');
}